# URL của backend API.
# Khi chạy local, nó thường là http://localhost:3000.
# Khi chạy với Docker, nó cũng là http://localhost:3000 vì bạn truy cập từ trình duyệt của máy host.
VITE_API_URL=http://localhost:3000